*, html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "San Francisco";
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  background: url("images/background.png");
  background-position: center;
  color: #000;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

.menu-bar {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(83, 83, 83, 0.4);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(50px);

  .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-left: 20px;

    .apple-logo {
      transform: scale(.6);
    }
    .menus {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.95);
      font-size: 14px;
    }
    .active {
      font-weight: bold;
      color: #fff !important;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    margin-right: 2px;
    .vol {
      transform: scale(0.6);
      margin-right: 2px;
    }
    .menutime {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
    .menu-ico {
      display: flex;
      align-items: center;
      justify-content: center;
      color:#fff;

      .control-center {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        transform: scale(0.5);
      }
    }
  }
}

.dock {
  width: auto;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  /*left: 280px;*/
  left:145px;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dock-container {
  padding: 3px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.dock-container li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  transition: 0.2s;

  &:hover {
    margin: 0 13px;
  }
  .li-bin {
    margin-left: 20px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.4);
    padding: 0px 10px;
  }
  .li-1 {
    &::after {
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      content: "";
      bottom: 2px;
    }
  }

  .name {
    position: absolute;
    top: -70px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    height: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    visibility: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 0;
      backdrop-filter: blur(13px);
      -webkit-backdrop-filter: blur(13px);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(0, 0, 0, 0.5);
    }
  }

  .ico,
  .ico-bin {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;

    &:hover {
      margin-left: 0;
    }
  }
}
.dock-container li-1:hover .name,
.dock-container li-2:hover .name,
.dock-container li-3:hover .name,
.dock-container li-4:hover .name,
.dock-container li-5:hover .name,
.dock-container li-6:hover .name,
.dock-container li-7:hover .name,
.dock-container li-8:hover .name,
.dock-container li-9:hover .name,
.dock-container li-10:hover .name,
.dock-container li-11:hover .name,
.dock-container li-12:hover .name,
.dock-container li-13:hover .name,
.dock-container li-14:hover .name,
.dock-container li-15:hover .name {
  visibility: visible !important;
}

a {
  text-decoration: none;
}

span {
  line-height: 9px;
  vertical-align: 50%;
}


.folder-icon {
  position: absolute;
  top: 80px;
  left: 90px;
  font-size: 24px;
  cursor: pointer;
  height:100px;
}
.folder-name{
  position:absolute;
  top:180px;
  left:100px;
  font-size:15px;
  font-weight: bold;
  cursor:pointer;
  color: #fff;
  font-family: 'San Francisco', Arial, sans-serif; 
  text-shadow: rgb(127, 113, 227);
}


.window {
  background: #fff;
  width: 60vw;
  height: 75vh;
  margin: auto;
  margin-top: 2vh;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: move;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

/* Add your button styles here */
/* ... existing styles ... */

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
  cursor: pointer;
}
.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}
.window-content {
  /* ... existing styles ... */
   /* This will make .window-content take up the available space */
   /* Add overflow property to handle content overflow */
  overflow: auto;
  display: flex;
  height:100%; /* Add this to use flexbox for the inner content */
}
.sidebar-container {
  display:flex;
  width: 160px;
  height:71.5vh;
  background: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  position:fixed;
  overflow:hidden;
}
.sidebar{
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding: 20px;
}


.section {
  padding: 30px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.section:hover{
  text-decoration:underline;
  transition: ease-in-out 0.2s;
}
/* .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  overflow: auto;
  padding-left: 20px;
  padding-right: 150px;
} */

.content {
  flex:1;
  margin-left:160px;
  display: flex;
  overflow:auto;
  align-items: center; 
  /* justify-content: center;  */
  text-align: center;
  flex-direction: column;
}

.content h3{
  padding-top: 30vh;
  padding-bottom:1vh;
  font-size: 27.5px;
}
.content p{
  font-weight: 400;
}

.content #header h3{
  padding-top: 10vh;
  font-size: 27.5px;
}
#about-me{
  margin-top:40px;
  margin-left: 10px;
  margin-bottom:110px;
  text-align: center;
  padding-left: 10px;
  border: 0.1rem #000 solid;
  margin-right: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #acacac;
}
#about-me:hover{
  box-shadow: 0px 0px 20px #acacac;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;  
  gap: 0px 20px;
}

#skills-container i {
  height: 105px;  
}

#skills-container i:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

#skills-container i[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: -25%;
  left: 0;
  font-size: 10px;
  font-weight: bold;
}

#contact table input[type="text"], #contact table input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

#contact table input[type="text"]:hover, #contact table input[type="email"]:hover {
  border: 1px solid rgb(37, 150, 190);
}

#contact table textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

#contact table textarea:hover {
  border: 1px solid rgb(37, 150, 190);
}

#contact table input[type="submit"] {
  width: 100%;
  background: #2f3947;
  color: #fff;
  border: 0;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

#contact table input[type="submit"]:hover {
  background: rgb(88, 120, 227);
  color: #fff;
}

#contact-icon i {
  padding-right: 10px;
  font-size: 20px;
  padding-bottom: 0px;
}

#contact-icon i:hover {
  color: rgb(94, 105, 204);
  font-size: 25px;
  transition: 0.2s;
}

#contact-icon a:visited {
  color: black;
}

#contact-icon a:link {
  color: black;
}

.work-experience {
  margin-left: 10px;
  text-align: left;
  margin-top: 35px;
  padding-bottom: 20px;
  border-bottom: 0.05rem #000 solid;
}

.designation-time {
  font-size: 15px;
  font-style: italic;
}

.work-name {
  font-weight: bold;
  font-size: 20px;
}

.projects {
  margin-left: 10px;
  text-align: left;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 10px;
  border: 0.1rem #000 solid;
  margin-right: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #6e6e6e;
  color: #000;
}

.projects:hover {
  box-shadow: 0px 0px 20px rgb(37, 150, 190);
  transition: 0.2s;
  background-color:rgb(179, 170, 243);
  color: #fff;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}



/* CSS */
.resume-button {
  margin-top:10px;
  height:40px;
  font-weight:bold;
  border: 2px solid white;
  padding:10px 30px;
  border-radius: 20px;
  align-items:center;
  justify-content:center;
  background-color: #000;
  color:white;
  cursor:pointer;
  background-origin: padding-box;

}
.resume-button:hover{
  background-color: white;
  color:#000;
  border:2px solid black;
}

