.loading-screen{
    background:linear-gradient(rgba(252, 180, 217, 0.8),rgba(133, 193, 233));
    width:100%;
    height:100%;
    backdrop-filter: blur(20px);
    display:flex;
    animation-duration: 0.8s;
    /* opacity: 1;
    transition: opacity 0.3s ease-out; Use transition for fade-in effect */

}
.loading-screen.fade-out {
    opacity: 0;
    animation: fadeOutAnimation 1s ease-out forwards; /* Use animation for fade-out effect */
  }
  
  @keyframes fadeOutAnimation {
    to {
      opacity: 0;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  } 
  
.loader-card {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display:inline-block;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:200px;
    margin-left: 530px;
}
.loader-card h3{
    color:white;
    font-weight: bold;
}


.loader-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;


}
.progressbar-container {
    /* Content alignment */
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:10px;
}
.progressbar-container p{
    color:white;
    margin-top:10px;
    font-size:15px;
    font-weight: lighter;
    text-shadow: none;
}

.progressbar {
    /* Size */
    width: 400px;
    height: 10px;
   

    /* Content alignment */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-self:center;

    /* Style */
    border-radius: 60px;
    box-shadow: 0px 0px 20px #111;

    overflow: hidden;
}

.bar {
    /* Size */
    width: 0%;

    /* Style */
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgb(183, 189, 253) 0%,
        rgb(250, 187, 239) 32%,
        rgb(101, 121, 199) 100%
    );
}

@media screen and (max-width:768px) {
  
  .loader-card{
    margin-left: 20px;
    margin-top:280px;
    margin-left:45px;
    align-items:center;
    justify-content:center;
  }
  .progressbar{
    width:300px;
  }
}

